<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const IMP = window.IMP;
        IMP.init("imp08866628");

        function requestPay() {
            IMP.request_pay({
                pg: 'kakaopay',
                pay_method: 'card',
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: '골든 바렐',
                amount: 9000,
                customer_uid: 'TEST' + new Date().getTime(),
                buyer_email: 'test123@naver.com',
                buyer_name: 'TEST',
                buyer_tel: '010-4429-3333',
                buyer_addr: '서울특별시 은평구 갈현로 11길 46',
                buyer_postcode: '108-804'
            }, function (rsp) {
                if (rsp.success) {
                    $.ajax({
                        url: "/api/main/verifyIamport/" + rsp.imp_uid,
                        type: "POST",
                        data: {
                            imp_uid: rsp.imp_uid,            // 결제 고유번호
                            merchant_uid: rsp.merchant_uid   // 주문번호
                        }
                    }).done(function (data) {
                        if (rsp.paid_amount == data.response.amount) {
                            alert("결제 및 검증완료");
                            let contents = [
                                {
                                    productId: 75,
                                    optionId: 1,
                                    count: 3,
                                    username: "김윤형님",
                                    address: "서울시 은평구 갈현로 11길",
                                    zipcode: "145-24",
                                    addressDetail: "진로아파트 503동 2304호",
                                    phoneNumber: "010-6474-1234",
                                    memo: "BOX",
                                    selfMemo: null,
                                    defaultAddr: null,
                                    orderNumber: rsp.merchant_uid,
                                    orderTotalPrice: 80000,
                                    totalQuantity: 5,
                                    payMethod: "kakaopay"
                                }
                            ];
                            $.ajax({
                                url: "/api/member/orders",
                                type: "POST",
                                contentType: "application/json",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("Content-type", "application/json");
                                },
                                data: JSON.stringify(contents),
                                success: function (data) {
                                    console.log('success : ' + data);
                                },
                                error: function (e) {
                                    console.log('error : ' + e);
                                },
                            })
                        } else {
                            alert("결제 실패");
                        }
                    });
                } else {
                    alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                }


            });
        }
    </script>
</head>
<body>
    <button onclick="requestPay()">아임포트 결제 API</button>
</body>

</html>