<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #2A7AF3; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
    <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
        <span style="color: #2A7AF3">인증</span>이 완료되었습니다.
    </h1>
    <p style="font-size: 16px; line-height: 26px; margin-top: 20px; padding: 0 5px;">
         <b>회원가입 페이지로 돌아가서 회원가입을 완료해주세요. </b>
    </p>


    <div style="border-top: 1px solid #DDD; padding: 5px;">

    </div>
</div>
</body>
</html>